.show-flip {
  display: flex;
  flex-direction: row;
  gap: calc(100vw - 100%);
}

.show-flop {
  display: flex;
  flex-direction: row-reverse;
  transform: translateX(100vw);
  gap: calc(100vw - 100%);
}

.flip-container,
.flop-container {
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  overflow: auto;
}

.slide-back,
.slide-back-reverse,
.slide-forward,
.slide-forward-reverse {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

.slide-back .flip-container,
.slide-back-reverse .flop-container {
  animation: 0.4s slide-back-out 1 0s ease-out forwards;
}

.slide-back .flop-container,
.slide-back-reverse .flip-container {
  position: absolute;
  top: 0;
  left: 0;
  animation: 0.4s slide-back-in 1 0s ease-out forwards;
}

.slide-forward .flip-container,
.slide-forward-reverse .flop-container {
  animation: 0.4s slide-forward-out 1 0s ease-out forwards;
}

.slide-forward .flop-container,
.slide-forward-reverse .flip-container {
  position: absolute;
  top: 0;
  left: 0;
  animation: 0.4s slide-forward-in 1 0s ease-out forwards;
}

.slide-down {
  display: flex;
  flex-direction: column;
  animation: 0.4s slide-down-from-offset 1 0s ease-out forwards;
  overflow: hidden;
}

.slide-down-reverse {
  display: flex;
  flex-direction: column-reverse;
  animation: 0.4s slide-down-from-offset 1 0s ease-out forwards;
  overflow: hidden;
}

.slide-up {
  display: flex;
  flex-direction: column;
  animation: 0.4s slide-up-from-zero 1 0s ease-out forwards;
  overflow: hidden;
}

.slide-up-reverse {
  display: flex;
  flex-direction: column-reverse;
  animation: 0.4s slide-up-from-zero 1 0s ease-out forwards;
  overflow: hidden;
}

.sliding .hide-while-sliding {
  visibility: hidden;
}

.slide-left {
  display: flex;
  flex-direction: row;
  animation: 0.4s slide-left-from-zero 1 0s ease-out forwards;
}

.slide-left-reverse {
  display: flex;
  flex-direction: row-reverse;
  animation: 0.4s slide-left-from-offset 1 0s ease-out forwards;
}

.slide-right {
  display: flex;
  flex-direction: row;
  animation: 0.4s slide-right-from-offset 1 0s ease-out forwards;
}

.slide-right-reverse {
  display: flex;
  flex-direction: row-reverse;
  animation: 0.4s slide-right-from-zero 1 0s ease-out forwards;
}

@keyframes slide-up-from-zero {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes slide-down-from-offset {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes slide-left-from-zero {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes slide-left-from-offset {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes slide-right-from-zero {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes slide-right-from-offset {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}

@keyframes slide-forward-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes slide-forward-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-back-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes slide-back-in {
  from {
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
